* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {

    color: blue;
    background-color: darkkhaki;



}

a {
    color: black;
}

section {
    height: 100vh;
    background-color: chartreuse;
    padding: 20px;
    margin: 20px;
    padding-top: 100px;


}

h2 {
    font-size: 50px;
}

#project {

    background-color: aqua;
}


header {
    padding: 20px;
    background-color: rgb(215, 29, 236);
    position: fixed;
    top: 0;
    width: 100%;

}
main{
padding-top: 100px;
}


.hello{
padding: 20px;


}